* {
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
}

body {
    background: url("../images/background.jpeg") repeat center center;

}

h1 {
    font-size: 70px;
}

.container {
    display: flex;
    flex-direction: column;
}

.main {
    justify-content: space-between;
    height: 100vh;
}

.logo {
    width: 70px;
    margin-left: 100px;
    height: 70px;
}

.header {
    display: flex;
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: fixed;
    border-radius: 0 0 20px 20px;
    justify-content: space-between;
}

.header_wrapper {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    margin-right: 250px;
    margin-bottom: auto;
    justify-content: space-around;
}

.line {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background: black;
}

.header_link {
    font-size: 25px;
    color: black;
    text-decoration: none;
}

.header_link:hover {
    border-bottom: 2px solid black;
    transition: all .1s;
}

.title {
    margin-left: auto;
    margin-right: auto;
}

.subtitle {
    margin-top: 20px;
    text-align: center;
}

#circle {
    width: 70px;
    height: 70px;
    margin-left: auto;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    background: #EDC9C9;
    margin-right: auto;
    animation: pulse 1.5s infinite;
    margin-bottom: 30px;
}


@keyframes pulse {
    0%{
        transform: scale(1);
        box-shadow: 0 0 0 0 #EDC9C9;
    }
    33%{
        transform: scale(1.4);
        box-shadow: 0 0 0 3px #EDC9C9;
    }
    66%{
        transform: scale(1.2);
        box-shadow: 0 0 0 3px #EDC9C9;
    }
    100%{
        transform: scale(1);
        box-shadow: 0 0 0 0 #EDC9C9;
    }
}

h2 {
    margin-right: auto;
    margin-left: auto;
    font-size: 60px;
    text-align: center;
}

.about-item {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    flex-wrap: wrap;
    padding-left: 20px;
}

.about1 {
    margin-bottom: 10px;
}

.about-item-text {
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

.about-item-image {
    width: 300px;
    margin-top: auto;
    margin-bottom: auto;
}

.about2 {
    flex-direction: row-reverse;
}

.teachers-list {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
}

.teacher-item {
    width: 400px;
    height: 700px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background: white;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
}

.teacher-item-image {
    width: 400px;
    margin: 0 auto;
}

h3 {
    font-size: 35px;
    text-align: center;
}

h4 {
    font-size: 22px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.teacher-item:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.footer {
    background: white;
    border-radius: 20px 20px 0 0;
    margin-right: 20px;
    margin-left: 20px;
    flex-direction: row;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
}

.footer_wrapper {
    flex-direction: column;
    width: auto;
}

.logo_footer {
    margin-top: auto;
    margin-bottom: auto;
}

.links {
    width: 500px;
}

.links img {
    width: 60px;
    height: 60px;
}

.formula_title {
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
}

.calculator_volume {
    width: 80%;
    display: flex;
    margin: 100px auto 20px;
    background: #68ccae;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
}

.calculator_values_volume {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

input, select {
    width: 300px;
    padding-left: 10px;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    border: none;
}

.calculator_square {
    width: 80%;
    display: flex;
    margin: 100px auto 20px;
    background: #68ccae;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
}

.calculator_values_square {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.calculator_speed {
    width: 80%;
    display: flex;
    margin: 100px auto 20px;
    background: #68ccae;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
}

.calculator_values_speed {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.calculator_temp {
    width: 80%;
    display: flex;
    margin: 100px auto 20px;
    background: #68ccae;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
}

.calculator_values_temp {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.lessons {
    flex-direction: column;
}

.lesson_item:first-child {
    margin-top: 120px;
}

@keyframes animation_show {
    0% {
        height: 100px;
    }
    99% {
        height: 1200px;
    }
    100% {
        height: auto;
    }
}

#lesson_dropdown {
    background: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    display: none;
    box-shadow: 3px 2px 20px black;
    flex-direction: column;
    position: absolute;
}
#lesson_dropdown a{
    text-decoration: none;
    margin-left: 10px;
    color: black;
    font-size: 25px;
    margin-right: 10px;
    margin-top: 20px;
}
#lesson_dropdown a:last-child{
    margin-bottom: 20px;
}

@keyframes animation_hide {
    0% {
        height: auto;
    }
    1% {
        height: 1200px;
    }
    100% {
        height: 100px;
    }
}

.lesson_item_enable {
    animation: animation_show;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

.lesson_item_disable {
    animation: animation_hide;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

.lesson_item:hover {
    cursor: pointer;
}

.lesson_item {
    width: 90%;
    background: antiquewhite;
    margin-bottom: 20px;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden;
    margin-left: auto;
    height: 100px;
}

.lesson_item_title {
    display: flex;
    height: 100px;
    flex-direction: row;
}

.title_lesson {
    margin-left: 20px;
    margin-right: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.more {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

.lesson_video {
    margin-left: 20px;
}

.lesson_text {
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.lesson_text img {
    width: 500px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 1230px) {
    .about2{
        flex-direction: row;
    }
    .about-item-text, .about-item-image{
        margin-right: auto;
        margin-left: auto;
    }
}
.modal_nav_wrapper{
    display: flex;
    height: 40vh;
    margin: auto;
    flex-direction: column;
    justify-content: space-around;
}
.modal_nav{
    width: 100%;
    height: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    background: lightgray;
    overflow: hidden;
    z-index: 1000;
}
.modal_nav_show{
    height: 100vh;
    transition: all .6s;
}
.modal_nav_hide{
    height: 0;
    transition: all .6s;
}
#burger_button{
    display: none;
}
#close{
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 20px;
}
.header_mobile_link{
    margin-right: auto;
    margin-left: auto;
    font-size: 40px;
}
@media (max-width: 800px) {
    .header_wrapper{
        display: none;
    }
    #burger_button{
        width: 50px;
        margin-bottom: auto;
        margin-right: 60px;
        margin-top: auto;
        display: block;
        height: 50px;
    }
}
@media (max-width: 1110px){
    .lesson_video{
        margin-right: auto;
        display: block;
        margin-left: auto;
    }
    .line{
        width: 80%;
    }
}
@media (max-width: 700px) {
    .lesson_video{
        width: 400px;
    }
    .lesson_text img{
        width: 400px;
    }
}
.header_wrapper_icon{
    display: flex;
    margin-right: 0;
}
.text_item{
    display: flex;
}
.text_item_title{
    margin: 0;
}
.lesson_item p{
    margin-top: 10px;
    text-align: center;
}
.text_item p{
    margin-top: auto;
    margin-bottom: auto;
}
.text_item_container{
    margin-top: 10px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
}
.table{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    text-align: center;
    border-spacing: 2px;
}
th, td, tr{
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
}
caption{
    font-size: 30px;
}
.ths_non_line th{
    border: none;
}
.centered{
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
}
.sub-title{
    font-size: 30px;
}
.h4_centered h4{
    margin-left: auto;
    font-size: 30px;
    margin-right: auto;
}
